@model MVCpersonalsite.Models.ContactViewModel;
@{
    ViewData["Title"] = "Home Page";
}

<      <!-- Page Content-->

<div class="container-fluid p-0">
    <!-- About-->
    <section class="resume-section " id="about">
        <div class="resume-section-content shadow-lg p-3 mb-5 bg-body rounded">
            <h1 class="mb-0 text-teal">
                Corbin
                <span class="text-prim">Brown</span>
            </h1>
            <div class="subheading mb-5">
                1202 Oak St. · Eudora, KS 66025 · (785) 615-2177 ·
                <a href="mailto:corbin-brown@outlook.com">corbin-brown@outlook.com</a>
            </div>
            <p class="lead mb-5">I am experienced in leveraging agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition.</p>
            <div class="social-icons">
                <a class="social-icon elevate" href="https://www.linkedin.com/in/corbin-brown-2b93221b1/"><i class="fab fa-linkedin-in"></i></a>
                <a class="social-icon elevate" href="https://github.com/cjbrown019"><i class="fab fa-github"></i></a>
                <a class="social-icon elevate" href="https://twitter.com/corbin_brown21"><i class="fab fa-twitter"></i></a>
                <a class="social-icon elevate" href="https://www.facebook.com/profile.php?id=100005127705701"><i class="fab fa-facebook-f"></i></a>
            </div>
        </div>
    </section>
    <hr class="m-0" />
    <!-- Experience-->
    <section class="resume-section" id="experience">
        <div class="resume-section-content shadow-lg p-3 mb-5 rounded bg-light">
            <h2 class="mb-5 p-3 mb-5 bg-body rounded">Experience</h2>
            <div class="d-flex flex-column flex-md-row justify-content-between p-3 mb-5  bg-body rounded">
                <div class="flex-grow-1">
                    <h3 class="mb-0">Mapping Specialist</h3>
                    <div class="subheading mb-3">Connex International</div>
                    <p>Schedules employees assignments for the following day using logical thinking and problem solving to put together the puzzle of assignments. Leads company confernce call using communication skills with the client to cater to their needs. Uses a self coded macro to put together a excel report of the next five days.</p>


                </div>

                <div class="flex-shrink-0"><span class="text-prim">December 2021 - Present</span></div>


            </div>
            <a href="/assets/img/Corbin_Brown.pdf">Click Here to download Corbin Brown's Resume</a>
        </div>
    </section>
    <hr class="m-0" />
    <!-- Education-->
    <section class="resume-section" id="education">
        <div class="resume-section-content shadow-lg p-3 mb-5 bg-white">
            <h2 class="mb-5 bg-white">Education</h2>
            <div class="d-flex flex-column flex-md-row justify-content-between p-3 mb-5 bg-body rounded">
                <div class="flex-grow-1">
                    <h3 class="mb-2">Eudora High School</h3>
                    <div class="flex-shrink-0"><span class="text-prim">August 2017 - May 2021</span></div>
                    <img id="Grad-pic" src="/assets/img/IMG_0783.JPG" alt="Corbin in a graduation outfit">
                </div>
                <div class="flex-grow-1">
                    <h3 class="mb-2">Centriq Training</h3>
                    <div class="flex-shrink-1"><span class="text-prim">December 2022 - Current</span></div>
                    <div id="dungeon">
                        <img src="/assets/img/DungeonSS.JPG" alt="A screen shot of Corbin's Dungeon console game">
                    </div>
                </div>
            </div>

        </div>
    </section>
    <hr class="m-0" />
    <!-- Skills-->
    <section class="resume-section" id="skills">
        <div class="resume-section-content p-3 mb-5 bg-light rounded">
            <h2 class="mb-5">Skills</h2>
            <div class="subheading bg-white rounded text-center">Programming Languages & Tools</div>
            <ul class="dev-icons bg-white rounded justify-content-evenly d-flex">

                <!-- Update after Centriq -->
                <li class="list-inline-item"><i class="fab fa-html5"></i></li>
                <li class="list-inline-item"><i class="fab fa-css3-alt"></i></li>
                <li class="list-inline-item"><i class="fab fa-js-square"></i></li>
                <li class="list-inline-item"><i class="fab fa-react"></i></li>
                <li class="list-inline-item"><i class="fab fa-npm"></i></li>
            </ul>
            <div class="subheading mb-3 bg-body text-center">Workflow</div>
            <ul class=" mb-0 bg-white">
                <li>
                    <span class="fa-li"></i></span>
                    Mobile-First, Responsive Design
                </li>
                <li>
                    <span class="fa-li"></i></span>
                    Cross Browser Testing & Debugging
                </li>
                <li>
                    <span class="fa-li"></i></span>
                    Cross Functional Teams
                </li>
                <li>
                    <span class="fa-li"></i></span>
                    Agile Development & Scrum
                </li>
            </ul>
        </div>
    </section>
    <hr class="m-0" />
    <!-- Interests-->
    <section class="resume-section" id="interests">
        <div class="resume-section-content  shadow-lg p-3 mb-5 bg-light">
            <h2 class="mb-5">Interests</h2>
            <p>Apart from the being a web developer, I am a photographer. I spend my free time editing photos. When not editing photos I am exploring deeper into the techniclogical world through media likes Youtube and other social medias.</p>
            <div id="lightgallery" class="gallery">
                <a href="/assets/img/Pumpkin_Decoration.JPG" class="">
                    <img alt="Pumpkin Decoration" src="/assets/img/Pumpkin_Decoration.JPG" />
                </a>
                <a href="/assets/img/Fireworks.JPG" class="">
                    <img alt="Fireworks" src="/assets/img/Fireworks.JPG" />
                </a>
                <a href="/assets/img/Red_Panda.JPG" class="">
                    <img alt="Red Panda" src="/assets/img/Red_Panda.JPG" />
                </a>
                <a href="/assets/img/Silloutte.JPG">
                    <img alt="Sunset Silloutte" id="silloutte" src="/assets/img/Silloutte.JPG" />
                </a>
            </div>
        </div>
    </section>
    <hr class="m-0" />
    <!-- Awards-->
    <section class="resume-section" id="classmates">
        <div class="resume-section-content  shadow-lg p-3 mb-5 bg-light rounded container">
            <h2 class="mb-5">Classmates</h2>
            <div class="row justify-content-evenly">
                <div class="border-0 card col-sm-6 m-1" style="width: 18rem;">
                    <div class="links">
                        <img src="/assets/img/20221002_085057.jpg" class="card-img-top classmate-card" alt="A photo of Eugene Cathcart">
                        <div class="overlay">
                            <strong><a href="http://genecathcart.com/">Personal Site</a></strong>
                            <strong><a href="http://linkedin.com/in/gene-cathcart-49848a25a/">Linkedin</a></strong>
                        </div>
                    </div>
                    <div class="card-body">
                        <strong>Eugene Cathcart</strong>
                    </div>
                </div>
                <div class="border-0 card col-sm-6 m-1" style="width: 18rem;">
                    <div class="links">
                        <img src="/assets/img/fb_img_1564282189202.jpg" class="card-img-top classmate-card" alt="A photo of William Watts">
                        <div class="overlay">
                            <strong><a href="Williamdwatts.com">Personal Site</a></strong>
                            <strong><a href="https://www.linkedin.com/mwlite/in/william-watts-09a57625b">Linkedin</a></strong>
                        </div>
                    </div>
                    <div class="card-body">
                        <strong>William Watts</strong>
                    </div>
                </div>
                <div class="border-0 card col-sm-6 m-1" style="width: 18rem;">
                    <div class="links">

                        <img id="Robert" src="/assets/img/Robert.jpg" class="card-img-top classmate-card" alt="A photo of Robert Eyre">
                        <div class="overlay">
                            <strong><a href="www.roberteyre.com">Personal Site</a></strong>
                            <strong><a href="/">Linkedin</a></strong>
                        </div>
                    </div>
                    <div class="card-body">
                        <strong>Robert Eyre</strong>
                    </div>
                </div>
                <div class="border-0 card col-sm-6 m-1" style="width: 18rem;">
                    <div class="links">
                        <img src="/assets/img/Dan'sPic.jpg" class="card-img-top classmate-card" alt="A photo of Dan Ambro">
                        <div class="overlay">
                            <strong><a href="DanielAmbro.com">Personal Site</a></strong>
                            <strong><a href="/">Linkedin</a></strong>
                        </div>
                    </div>
                    <div class="card-body">
                        <strong>Dan Ambro</strong>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Projects Section -->
    <section class="resume-section" id="projects">
        <div class="resume-section-content  shadow-lg p-3 mb-5 bg-light rounded container ">
            <h2 class="mb-3">Projects</h2>
            <table class="table table-responsive table-striped table-dark table-sm text-center">
                <tr>
                    <th scope="col" class="w-25">Name</th>
                    <th scope="col" class="w-50">Type</th>
                    <th scope="col" class="w-25">Links</th>
                </tr>
                <tr>
                    <td scope="row">Personal Site</td>
                    <td>Site created from my classes displaying my abilities as a developer.</td>
                    <td><a href="https://github.com/cjbrown019/MVCpersonalsite">GitHub</a></td>
                </tr>
                <tr>
                    <td scope="row">Dungeon Crawler Game</td>
                    <td>Game made within the computers console showing my knowledge of C# and its components.</td>
                    <td><a href="https://github.com/cjbrown019/DungeonApplication">GitHub</a></td>
                </tr>
                <tr>
                    <td scope="row">Store Front</td>
                    <td>Project made as an assignment from my classes introducing and demonstrating my knowledge of databases and MVC</td>
                    <td><a href="https://github.com/cjbrown019/StoreFront/tree/main/StoreFront.UI.MVC">GitHub</a></td>
                </tr>
                <tr>
                    <td scope="row">TODO List</td>
                    <td>Another project from my classes as my introduction to JSReact and creating / using / using my own an API </td>
                    <td><a href="https://github.com/cjbrown019/to-do-app">GitHub</a><br /><a href="http://todo.corbin-brown.com/">Link</a></td>
                </tr>
                
            </table>
        </div>
    </section>
    

</div>